<!doctype html>
<html lang="en">
<head>

    <title>Tacocat</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" href="/static/css/tacocat.css" />

</head>
<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<div class="container"><div class="row">

    <header>
        <a href="{{ url_for('index') }}"><img src="/static/images/tacocat.svg" height="100" /></a>
    </header>

    <div class="u-full-width">
        <nav class="menu">
            <a href="{{ url_for('index') }}">Home</a>

            {% if current_user.is_authenticated() %}
            <a href="{{ url_for('taco') }}">Add a New Taco</a>
            <a href="{{ url_for('logout') }}">Log Out</a>
            {% else %}
            <a href="{{ url_for('login') }}">Log In</a>
            <a href="{{ url_for('register') }}">Sign Up</a>
            {% endif %}

        </nav>
    {% block content %}{% endblock %}
    </div>

    <footer>
        <p><a href="https://teamtreehouse.com/library/build-a-social-network-with-flask/tacocat-challenge/the-challenge">Tacocat Challenge</a> on Treehouse</p>
        <p>Copyright &copy; <a href="https://teamtreehouse.com/dahjson">Daniel Johnson</a>, <a href="https://teamtreehouse.com/">Treehouse</a></p>
    </footer>

</div></div>

</body>
</html>
